.*
# - RStudio -
WRF-IC.Rproj
# - Temporários/Obsoletos -
scripts/
__pycache__/
# - Recursos -
*.nc
*.png
*.grib*
resources/*.mp4
!datasets/*.csv
!.gitignore
# - Formatação -
pandoc*
# - Outros projetos -
datasets/wrf_manager/
# - Pessoais -
api_key.txt
wd_dir.txt