.*
# - RStudio -
WRF-IC.Rproj
# - Temporários/Obsoletos -
scripts/
# - Recursos -
*.nc
*.png
*.grib*
resources/*.mp4
!datasets/*.csv
!.gitignore
# - Formatação -
pandoc*
# - Outros projetos -
datasets/wrf_manager/